@import url("./main.css");

:root {
    --preto: #111111;
    --branco: #FFFFFF;
    --cinza: #8F8F8F;
    --background-img: url('/assets/imgs/img-bg.jpeg'); /* Substitua 'sua-url-da-imagem-aqui' pela URL da sua imagem */
}

.dancing-script-elegant {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    background-image: var(--background-img);
    background-size: cover; /* Mantém a proporção original da imagem */
    background-color: var(--preto); /* Cor de fundo padrão, caso a imagem não carregue */
    margin: 0; /* Remover margens do body para evitar espaços em branco */
}

.card {
    backdrop-filter: blur(10px); /* Ajuste o valor do desfoque conforme necessário */
    background-color: rgba(255, 255, 255, 0.3); /* Adicione um fundo transparente com opacidade (RGBA) */
    border: 5px solid rgba(255, 255, 255, 0.5); /* Adicione uma borda com opacidade */
}




/*
    |\__/,|   (`\
  _.|o o  |_   ) )
-(((---(((-------- Cesar Iglesias 
/*